In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read tge csv data
all_students = pd.read_csv("data/students_länder.csv")

In [3]:
all_students.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,Total,Total.1,Total.2
0,NaN,NaN,NaN,NaN,Male,Female,Total,Male,Female,Total,Male,Female,Total
1,WT 2018/19,Baden-Württemberg,SF141,Waste Management,-,-,-,-,-,-,-,-,-
2,WT 2018/19,Baden-Württemberg,SF002,African Studies,-,-,-,-,-,-,-,-,-
3,WT 2018/19,Baden-Württemberg,SF138,Agricultural Biology,29,49,78,-,1,1,29,50,79
4,WT 2018/19,Baden-Württemberg,SF125,Agricultural Economics,-,1,1,4,4,8,4,5,9

In [4]:
#rename the columns
all_students.rename(columns={'Unnamed: 0': 'semester', 'Unnamed: 1':'federal_state', 'Unnamed: 2':'study_code', 'Unnamed: 3': 'study_subject', 'Total': 'total_males', 'Total.1': 'total_females', 'Total.2': 'total_all'}, inplace=True)

In [5]:
#replace - with null values
all_students.replace('-', np.nan, inplace=True)

In [6]:
# drop null values
all_students.dropna(inplace=True)

In [7]:
all_students.head()

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
5,WT 2018/19,Baden-Württemberg,SF003,Agricultural Science/Agriculture,102,151,253,68,56,124,170,207,377
6,WT 2018/19,Baden-Württemberg,SF001,Egyptology,11,13,24,2,2,4,13,15,28
7,WT 2018/19,Baden-Württemberg,SF152,General Linguistics/Indo-European Studies,30,88,118,3,20,23,33,108,141
8,WT 2018/19,Baden-Württemberg,SF188,General Literary Studies,1,9,10,2,6,8,3,15,18
9,WT 2018/19,Baden-Württemberg,SF272,Ancient History,4,3,7,1,3,4,5,6,11

In [8]:
#create criteria for new data frame(IT)
mask1 = all_students['study_subject'].str.contains('computer', case=False)

In [9]:
#create criteria for new data frame(IT)
mask2 = all_students['study_subject'].str.contains('informatics', case=False)

In [10]:
#merge the 2 criteria(IT)
mask = mask1 | mask2

In [11]:
#create new data frame based on criteria
it_students = all_students[mask]

In [12]:
it_students.head()

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
42,WT 2018/19,Baden-Württemberg,SF221,Bioinformatics,10,15,25,3,3,6,13,18,31
53,WT 2018/19,Baden-Württemberg,SF160,Computer Linguistics,33,30,63,21,30,51,54,60,114
54,WT 2018/19,Baden-Württemberg,SF200,Computer and Communication Technology,8,15,23,44,23,67,52,38,90
111,WT 2018/19,Baden-Württemberg,SF079,Computer Science,2048,267,2315,393,139,532,2441,406,2847
113,WT 2018/19,Baden-Württemberg,SF123,Computational Engineer./Technical Computer Sci...,225,22,247,49,9,58,274,31,305

In [13]:
it_students['study_subject'].unique()

array(['Bioinformatics', 'Computer Linguistics',
       'Computer and Communication Technology', 'Computer Science',
       'Computational Engineer./Technical Computer Science',
       'Media Informatics', 'Medical Informatics', 'Business Informatics'],
      dtype=object)

In [32]:
it_students.head()

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
42,WT 2018/19,Baden-Württemberg,SF221,Bioinformatics,10,15,25,3,3,6,13,18,31
53,WT 2018/19,Baden-Württemberg,SF160,Computer Linguistics,33,30,63,21,30,51,54,60,114
54,WT 2018/19,Baden-Württemberg,SF200,Computer and Communication Technology,8,15,23,44,23,67,52,38,90
111,WT 2018/19,Baden-Württemberg,SF079,Computer Science,2048,267,2315,393,139,532,2441,406,2847
113,WT 2018/19,Baden-Württemberg,SF123,Computational Engineer./Technical Computer Sci...,225,22,247,49,9,58,274,31,305

In [48]:
#create criteria for new data frame(IT)
it = it_students['study_subject'].str.match('Computer Science')

In [49]:
it_final = it_students[it]

In [50]:
it_final

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
111,WT 2018/19,Baden-Württemberg,SF079,Computer Science,2048,267,2315,393,139,532,2441,406,2847
404,WT 2018/19,Bayern,SF079,Computer Science,1730,315,2045,745,261,1006,2475,576,3051
697,WT 2018/19,Berlin,SF079,Computer Science,459,88,547,218,86,304,677,174,851
990,WT 2018/19,Brandenburg,SF079,Computer Science,233,40,273,77,29,106,310,69,379
1283,WT 2018/19,Bremen,SF079,Computer Science,157,43,200,62,29,91,219,72,291
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17398,WT 2021/22,Saarland,SF079,Computer Science,177,20,197,124,41,165,301,61,362
17691,WT 2021/22,Sachsen,SF079,Computer Science,479,111,590,250,128,378,729,239,968
17984,WT 2021/22,Sachsen-Anhalt,SF079,Computer Science,124,19,143,58,25,83,182,44,226
18277,WT 2021/22,Schleswig-Holstein,SF079,Computer Science,260,28,288,16,8,24,276,36,312
18570,WT 2021/22,Thüringen,SF079,Computer Science,410,77,487,207,104,311,617,181,798

In [14]:
#create csv file from data frame(IT students)
it_students.to_csv("data/it_students.csv", index=False)

In [51]:
it_final.to_csv("data/it_narrowed.csv", index=False)

In [15]:
#create criteria for electrical engineering students
crit = all_students['study_subject'].str.contains('electrical', case=False)

In [16]:
#create new data frame for electrical engineering students
electro_students = all_students[crit]

In [17]:
electro_students['study_subject'].unique()

array(['Electrical Power Engineering',
       'Electrical Engineering/Electronics'], dtype=object)

In [18]:
#create data frame for electric engineering students
electro_students.to_csv("data/electro_students.csv", index=False)

In [38]:
electro_students[(electro_students['semester'] == 'WT 2020/21')]

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
9438,WT 2020/21,Baden-Württemberg,SF316,Electrical Power Engineering,11,1,12,4,1,5,15,2,17
9439,WT 2020/21,Baden-Württemberg,SF048,Electrical Engineering/Electronics,957,116,1073,235,66,301,1192,182,1374
9731,WT 2020/21,Bayern,SF316,Electrical Power Engineering,8,9,17,58,19,77,66,28,94
9732,WT 2020/21,Bayern,SF048,Electrical Engineering/Electronics,1142,142,1284,477,126,603,1619,268,1887
10025,WT 2020/21,Berlin,SF048,Electrical Engineering/Electronics,228,32,260,95,32,127,323,64,387
10318,WT 2020/21,Brandenburg,SF048,Electrical Engineering/Electronics,20,1,21,41,5,46,61,6,67
10610,WT 2020/21,Bremen,SF316,Electrical Power Engineering,31,3,34,4,2,6,35,5,40
10611,WT 2020/21,Bremen,SF048,Electrical Engineering/Electronics,54,2,56,67,14,81,121,16,137
10904,WT 2020/21,Hamburg,SF048,Electrical Engineering/Electronics,132,8,140,49,12,61,181,20,201
11197,WT 2020/21,Hessen,SF048,Electrical Engineering/Electronics,422,35,457,275,86,361,697,121,818
11490,WT 2020/21,Mecklenburg-Vorpommern,SF048,Electrical Engineering/Electronics,61,3,64,80,13,93,141,16,157
11782,WT 2020/21,Niedersachsen,SF316,Electrical Power Engineering,6,1,7,6,1,7,12,2,14
11783,WT 2020/21,Niedersachsen,SF048,Electrical Engineering/Electronics,335,48,383,158,62,220,493,110,603
12075,WT 2020/21,Nordrhein-Westfalen,SF316,Electrical Power Engineering,51,16,67,5,3,8,56,19,75
12076,WT 2020/21,Nordrhein-Westfalen,SF048,Electrical Engineering/Electronics,1292,140,1432,849,207,1056,2141,347,2488
12369,WT 2020/21,Rheinland-Pfalz,SF048,Electrical Engineering/Electronics,116,11,127,84,29,113,200,40,240
12662,WT 2020/21,Saarland,SF048,Electrical Engineering/Electronics,24,2,26,5,1,6,29,3,32
12955,WT 2020/21,Sachsen,SF048,Electrical Engineering/Electronics,306,34,340,138,52,190,444,86,530
13248,WT 2020/21,Sachsen-Anhalt,SF048,Electrical Engineering/Electronics,89,17,106,64,22,86,153,39,192
13541,WT 2020/21,Schleswig-Holstein,SF048,Electrical Engineering/Electronics,112,13,125,21,3,24,133,16,149
13834,WT 2020/21,Thüringen,SF048,Electrical Engineering/Electronics,101,4,105,51,13,64,152,17,169

In [20]:
#create criteria for electrical engineering students
#construct1 = all_students['study_subject'].str.contains('construction', case=False)

In [21]:
#create criteria for electrical engineering students
construct2 = all_students['study_subject'].str.contains('civil', case=False)

In [22]:
#construct = construct1 | construct2

In [23]:
#create new data frame for electrical engineering students
construct_students = all_students[construct2]

In [24]:
construct_students['study_subject'].unique()

array(['Civil Engineering/Structural Engineering'], dtype=object)

In [25]:
construct_students.head()

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
33,WT 2018/19,Baden-Württemberg,SF017,Civil Engineering/Structural Engineering,562,272,834,109,58,167,671,330,1001
326,WT 2018/19,Bayern,SF017,Civil Engineering/Structural Engineering,758,292,1050,202,88,290,960,380,1340
619,WT 2018/19,Berlin,SF017,Civil Engineering/Structural Engineering,191,95,286,85,47,132,276,142,418
912,WT 2018/19,Brandenburg,SF017,Civil Engineering/Structural Engineering,108,29,137,30,10,40,138,39,177
1205,WT 2018/19,Bremen,SF017,Civil Engineering/Structural Engineering,58,23,81,12,1,13,70,24,94

In [26]:
#create data frame for electric engineering students
construct_students.to_csv("data/construct_students.csv", index=False)

In [27]:
construct_students.head()

,semester,federal_state,study_code,study_subject,Germans,Germans.1,Germans.2,Foreigners,Foreigners.1,Foreigners.2,total_males,total_females,total_all
33,WT 2018/19,Baden-Württemberg,SF017,Civil Engineering/Structural Engineering,562,272,834,109,58,167,671,330,1001
326,WT 2018/19,Bayern,SF017,Civil Engineering/Structural Engineering,758,292,1050,202,88,290,960,380,1340
619,WT 2018/19,Berlin,SF017,Civil Engineering/Structural Engineering,191,95,286,85,47,132,276,142,418
912,WT 2018/19,Brandenburg,SF017,Civil Engineering/Structural Engineering,108,29,137,30,10,40,138,39,177
1205,WT 2018/19,Bremen,SF017,Civil Engineering/Structural Engineering,58,23,81,12,1,13,70,24,94

In [28]:
#create one data frame with all students
needed_students = pd.concat([it_students, construct_students,electro_students])

In [29]:
needed_students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 42 to 18522
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   semester       471 non-null    object
 1   federal_state  471 non-null    object
 2   study_code     471 non-null    object
 3   study_subject  471 non-null    object
 4   Germans        471 non-null    object
 5   Germans.1      471 non-null    object
 6   Germans.2      471 non-null    object
 7   Foreigners     471 non-null    object
 8   Foreigners.1   471 non-null    object
 9   Foreigners.2   471 non-null    object
 10  total_males    471 non-null    object
 11  total_females  471 non-null    object
 12  total_all      471 non-null    object
dtypes: object(13)
memory usage: 51.5+ KB

In [52]:
students_narrowed = pd.concat([it_final, construct_students, electro_students])

In [30]:
#create data frame for electric engineering students
needed_students.to_csv("data/needed_students.csv", index=False)

In [53]:
#create data frame for electric engineering students
students_narrowed.to_csv("data/students_narrowed.csv", index=False)

In [31]:
from sql_functions import get_engine
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name2 = 'labour_students_all'
schema = 'muc_analytics_22_3'
engine = get_engine()
# If the specified table doesn't exist yet, it will be create
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        needed_students.to_sql(name=table_name2, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name2} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The labour_students_all table was imported successfully.

In [54]:
from sql_functions import get_engine
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
table_name2 = 'labour_students_narrowed'
schema = 'muc_analytics_22_3'
engine = get_engine()
# If the specified table doesn't exist yet, it will be create
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        students_narrowed.to_sql(name=table_name2, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name2} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The labour_students_narrowed table was imported successfully.